<%- include("header") -%>

<div class="box" id="heading">
  <h1>This is the about page</h1>
</div>

<div class="box">
  <p>ashdfjka asdhgkjads kjasdgaj asjgh ahg kjasdgh  ajsdkghaks</p>
</div>

<%- include("footter") -%>